In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train = pd.read_csv('../train.csv')
test  = pd.read_csv('../test.csv')
weather_test  = pd.read_csv('../weather_test.csv')
weather_train = pd.read_csv('../weather_train.csv')
building = pd.read_csv('../building_metadata.csv')

In [3]:
print('Nombre des valeurs manquantes dans train:' ,np.sum(train.isnull().values))

Number of missing values in train data: 0

In [4]:
print('Nombre des valeurs manquantes dans building_meta:',np.sum(building.isnull().values))

Number of missing values in building_meta data: 1868

In [5]:
print('Nombre des valeurs manquantes dans weather_train:',np.sum(weather_train.isnull().values))

Number of missing values in weather_train data: 136820

In [6]:
print('Nombre des valeurs manquantes dans weather_test data:',np.sum(weather_test.isnull().values))

Number of missing values in weather_test data: 270562

In [12]:
print(train.columns)
print(test.columns)
# meter_reading is the target variable

Index(['building_id', 'meter', 'timestamp', 'meter_reading'], dtype='object')
Index(['row_id', 'building_id', 'meter', 'timestamp'], dtype='object')

In [13]:
print(train.shape)
print(test.shape)

(20216100, 4)
(41697600, 4)

In [16]:
train['timestamp'].head() 
# timestamp is a time varible that needs to be transformed into time format variable of python

0    2016-01-01 00:00:00
1    2016-01-01 00:00:00
2    2016-01-01 00:00:00
3    2016-01-01 00:00:00
4    2016-01-01 00:00:00
Name: timestamp, dtype: object

In [19]:
train['meter'].unique() 
# 'meter' might need to be one-hot encoded because it's a variable thar
# refers to the area of energy usage so they numbers 0,1,2,3 are not related

array([0, 3, 1, 2])

In [21]:
print(weather_train.shape)
print(weather_test.shape)

(139773, 9)
(277243, 9)

In [22]:
print(weather_train.columns)
print(weather_test.columns)

Index(['site_id', 'timestamp', 'air_temperature', 'cloud_coverage',
       'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure',
       'wind_direction', 'wind_speed'],
      dtype='object')
Index(['site_id', 'timestamp', 'air_temperature', 'cloud_coverage',
       'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure',
       'wind_direction', 'wind_speed'],
      dtype='object')

In [24]:
weather_train['timestamp'].head()
# timestamp is a time varible that needs to be transformed into time format variable of python

0    2016-01-01 00:00:00
1    2016-01-01 01:00:00
2    2016-01-01 02:00:00
3    2016-01-01 03:00:00
4    2016-01-01 04:00:00
Name: timestamp, dtype: object

In [28]:
weather_train.head()
# timestamp is needs to be coded into time format variable in python
# wind direction

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.0,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.0,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6