In [1]:
#from google.colab import drive
#drive.mount('/content/drive')
!cp /content/drive/MyDrive/ashrae.zip ashrae.zip
!unzip -q ashrae.zip

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import gc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import plotly.figure_factory as ff

from IPython.core.pylabtools import figsize
from plotly.offline import init_notebook_mode,iplot,plot
%matplotlib inline
init_notebook_mode(connected=True)
plt.style.use("ggplot")

from sklearn.utils import shuffle
from sklearn.preprocessing import  LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from keras.models import Model
from keras.layers import Input, Dense, BatchNormalization, Lambda
from keras.layers import Embedding,Flatten,Dropout, Add,Activation
from keras.optimizers import Adam, SGD, RMSprop
import keras.backend as K

# importer les fichiers .py sur le notebook
%run utils.py

In [3]:
building = pd.read_csv('/content/building_metadata.csv')
weather = pd.read_csv('/content/weather_train.csv')
train = pd.read_csv('/content/train.csv')

train.loc[(train.meter == 0),'meter_reading'] = train['meter_reading'] * 0.2931 # convertir du kwh vers kbtu

In [4]:
def join_data(data , weather_data , building_data):
    building_data = reduce_mem_usage(building_data)
    weather_data  = reduce_mem_usage(weather_data)
    data = reduce_mem_usage(data)

    data = (data.merge(building_data, on='building_id', how='left'))
    data = data.merge(weather_data, how='left', on = ['site_id', 'timestamp'], validate='many_to_one')

    return data


def preprocess_data(data , cols_to_scale , cols_to_drop):
    data = data.drop(cols_to_drop, axis= 1)
    data = data.dropna(axis=0)

    LE = LabelEncoder()
    LE.fit(data['primary_use'])

    data['primary_use'] = LE.transform(data['primary_use'])

    for col in cols_to_scale:
        data[col] = ( data[col] - data[col].mean())/ data[col].std()
    
    data = time_features(data)
    
    return data

In [5]:
train = join_data(train , weather , building)

train['log_meter_reading'] = np.log(train['meter_reading'] + 1)


del weather, building
gc.collect()

Memory usage of dataframe is 0.07 MB
Memory usage after optimization is: 0.02 MB
Decreased by 65.4%
Memory usage of dataframe is 9.60 MB
Memory usage after optimization is: 4.51 MB
Decreased by 53.0%
Memory usage of dataframe is 616.95 MB
Memory usage after optimization is: 173.90 MB
Decreased by 71.8%

13

In [6]:
print(train.columns)
print('--------------------------')
for col in train.columns:
  if train[col].isnull().values.any():
    print('Dans la variable', '(',col,')' , '-- il y a', train[col].isnull().values.sum() , ' Nan ')

Index(['building_id', 'meter', 'timestamp', 'meter_reading', 'site_id',
       'primary_use', 'square_feet', 'year_built', 'floor_count',
       'air_temperature', 'cloud_coverage', 'dew_temperature',
       'precip_depth_1_hr', 'sea_level_pressure', 'wind_direction',
       'wind_speed', 'log_meter_reading'],
      dtype='object')
--------------------------
Dans la variable ( year_built ) -- il y a 12127645  Nan
Dans la variable ( floor_count ) -- il y a 16709167  Nan
Dans la variable ( air_temperature ) -- il y a 96658  Nan
Dans la variable ( cloud_coverage ) -- il y a 8825365  Nan
Dans la variable ( dew_temperature ) -- il y a 100140  Nan
Dans la variable ( precip_depth_1_hr ) -- il y a 3749023  Nan
Dans la variable ( sea_level_pressure ) -- il y a 1231669  Nan
Dans la variable ( wind_direction ) -- il y a 1449048  Nan
Dans la variable ( wind_speed ) -- il y a 143676  Nan

## On supprime les variables qui contient plus de 150 000 valeurs manquantes.

In [7]:
train.head()

   building_id  meter  ... wind_speed  log_meter_reading
0            0      0  ...        0.0                0.0
1            1      0  ...        0.0                0.0
2            2      0  ...        0.0                0.0
3            3      0  ...        0.0                0.0
4            4      0  ...        0.0                0.0

[5 rows x 17 columns]

In [8]:
for col in train.columns:
  if train[col].isnull().values.any():
    print(col , 'il y a', train[col].isnull().values.sum() , ' Nan ')

year_built il y a 12127645  Nan
floor_count il y a 16709167  Nan
air_temperature il y a 96658  Nan
cloud_coverage il y a 8825365  Nan
dew_temperature il y a 100140  Nan
precip_depth_1_hr il y a 3749023  Nan
sea_level_pressure il y a 1231669  Nan
wind_direction il y a 1449048  Nan
wind_speed il y a 143676  Nan

In [9]:
train = train.drop([ 'meter_reading' ] , axis= 1)
cols_to_drop = ['year_built' , 'floor_count' , 'cloud_coverage' , 'precip_depth_1_hr' , 'wind_direction' , 'sea_level_pressure']
cols_to_scale = ['square_feet' , 'air_temperature' , 'dew_temperature' , 'wind_speed']

train = preprocess_data(train, cols_to_scale, cols_to_drop)

In [10]:
for col in train.columns:
  if train[col].isnull().values.any():
    print(col , 'il y a', train[col].isnull().values.sum() , ' Nan ')

In [11]:
train.shape

(20067705, 13)

In [12]:
train.head()

   building_id  meter            timestamp  ...  hour  dayofweek  month
0            0      0  2016-01-01 00:00:00  ...     0          4      0
1            1      0  2016-01-01 00:00:00  ...     0          4      0
2            2      0  2016-01-01 00:00:00  ...     0          4      0
3            3      0  2016-01-01 00:00:00  ...     0          4      0
4            4      0  2016-01-01 00:00:00  ...     0          4      0

[5 rows x 13 columns]

In [13]:
train = train.drop([ 'timestamp' ] , axis= 1)

In [14]:
train = shuffle(train, random_state=0)

In [15]:
train.head()

          building_id  meter  site_id  ...  hour  dayofweek  month
19012003          166      3        2  ...    18          5     11
2943606          1272      1       14  ...    18          2      1
13187863          908      2        9  ...    23          6      7
6351780           699      0        5  ...    23          3      3
1149633          1375      2       15  ...    20          3      0

[5 rows x 12 columns]

In [16]:
def residual_block(input_x, nodes):
    d1 = Dense(nodes,activation='relu')(input_x)
    d2 = Dense(nodes,activation='relu')(d1)

    projected_x = Dense(nodes,activation='relu')(input_x)

    add = Add()([projected_x , d2])
    return add

def create_model(data , categorical_vars , numerical_vars):
    categ_inputs = []
    embed_layers = []  
    for col in categorical_vars:
        num_classes = len(np.unique(data[col]))

        input_x = Input(shape = [1] , name = col)
        categ_inputs.append(input_x)

        embed_x = Embedding(num_classes, 10)(input_x)
        embed_layers.append(embed_x)

    num_inputs = []
    for col in numerical_vars:
        num_inputs.append(Input(shape=[1] , name = col))

    concat_emb = K.concatenate([Flatten()(emb_layer) for emb_layer in embed_layers])

    d1 = residual_block(concat_emb , 512)
    d2 = residual_block(d1 , 512)
    main = K.concatenate(num_inputs+[d2])

    d3 = residual_block(main , 512)
    d4 = residual_block(d3 , 512)
    d5 = residual_block(d4 , 64)

    d6 = residual_block(d5 , 16)
    output = Dense(1 )(d6)
    model  = Model(categ_inputs + num_inputs, output)

    return model 


def flatten_cols(X):
    X = [X[:,i].flatten() for i in range(len(X[0,:])) ] 
    return X 

def split_data(data, categorical_vars, numerical_vars, validation_split = 0.2, target_var = 'log_meter_reading'):

    y = data[target_var].values
    y = y.reshape((len(y) , 1))

    co_vars = categorical_vars + numerical_vars
    X = data[co_vars].values

    if validation_split ==0 : 
      return X,y
      
    X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = validation_split, random_state=42) 
    return X_train, X_val , y_train , y_val

def rmse(y_true, y_pred):
    """ root_mean_squared_error """
    return K.sqrt(K.mean(K.square(y_pred - y_true)))

In [18]:
categorical_vars = ['building_id' , 'meter' , 'site_id' , 'primary_use' , 'hour' , 'dayofweek' , 'month']
numerical_vars = ['square_feet' , 'air_temperature' , 'dew_temperature' , 'wind_speed']
model = create_model( train, categorical_vars ,  numerical_vars)

X , y = split_data(train , categorical_vars , numerical_vars , validation_split = 0)

X = flatten_cols(X)
#X_val = flatten_cols(X_val)


del train
gc.collect()

3473

In [20]:
model.compile(optimizer = Adam(lr=1e-4), loss= 'mse',  metrics=[rmse])
history_1 = model.fit(X, y , epochs= 100 , batch_size = 1024 )

Epoch 1/100
19598/19598 [==============================] - 202s 10ms/step - loss: 0.9880 - rmse: 0.9294
Epoch 2/100
19598/19598 [==============================] - 201s 10ms/step - loss: 0.4791 - rmse: 0.6897
Epoch 3/100
19598/19598 [==============================] - 201s 10ms/step - loss: 0.4224 - rmse: 0.6474
Epoch 4/100
19598/19598 [==============================] - 198s 10ms/step - loss: 0.3876 - rmse: 0.6200
Epoch 5/100
19598/19598 [==============================] - 197s 10ms/step - loss: 0.3610 - rmse: 0.5982
Epoch 6/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.3347 - rmse: 0.5759
Epoch 7/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.3154 - rmse: 0.5589
Epoch 8/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.3001 - rmse: 0.5451
Epoch 9/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.2859 - rmse: 0.5319
Epoch 10/100
19598/19598 [==============================] - 192s 10ms/step - loss: 0.2741 - rmse: 0.5208
Epoch 11/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.2633 - rmse: 0.5104
Epoch 12/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.2554 - rmse: 0.5026
Epoch 13/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.2480 - rmse: 0.4953
Epoch 14/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.2405 - rmse: 0.4876
Epoch 15/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.2350 - rmse: 0.4819
Epoch 16/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.2293 - rmse: 0.4760
Epoch 17/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.2226 - rmse: 0.4690
Epoch 18/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.2186 - rmse: 0.4647
Epoch 19/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.2143 - rmse: 0.4602
Epoch 20/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.2099 - rmse: 0.4554
Epoch 21/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.2061 - rmse: 0.4512
Epoch 22/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.2023 - rmse: 0.4470
Epoch 23/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.1982 - rmse: 0.4424
Epoch 24/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1960 - rmse: 0.4399
Epoch 25/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1925 - rmse: 0.4359
Epoch 26/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1897 - rmse: 0.4328
Epoch 27/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1881 - rmse: 0.4309
Epoch 28/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1850 - rmse: 0.4274
Epoch 29/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1817 - rmse: 0.4235
Epoch 30/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1803 - rmse: 0.4219
Epoch 31/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1775 - rmse: 0.4185
Epoch 32/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1752 - rmse: 0.4157
Epoch 33/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1738 - rmse: 0.4140
Epoch 34/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1709 - rmse: 0.4106
Epoch 35/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1687 - rmse: 0.4080
Epoch 36/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1671 - rmse: 0.4060
Epoch 37/100
19598/19598 [==============================] - 197s 10ms/step - loss: 0.1650 - rmse: 0.4035
Epoch 38/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1642 - rmse: 0.4025
Epoch 39/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1623 - rmse: 0.4000
Epoch 40/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.1603 - rmse: 0.3977
Epoch 41/100
19598/19598 [==============================] - 197s 10ms/step - loss: 0.1588 - rmse: 0.3957
Epoch 42/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1571 - rmse: 0.3936
Epoch 43/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1558 - rmse: 0.3919
Epoch 44/100
19598/19598 [==============================] - 197s 10ms/step - loss: 0.1543 - rmse: 0.3901
Epoch 45/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1528 - rmse: 0.3882
Epoch 46/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.1521 - rmse: 0.3872
Epoch 47/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1503 - rmse: 0.3849
Epoch 48/100
19598/19598 [==============================] - 196s 10ms/step - loss: 0.1490 - rmse: 0.3831
Epoch 49/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1473 - rmse: 0.3811
Epoch 50/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1462 - rmse: 0.3796
Epoch 51/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1451 - rmse: 0.3781
Epoch 52/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1439 - rmse: 0.3766
Epoch 53/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1433 - rmse: 0.3758
Epoch 54/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1420 - rmse: 0.3741
Epoch 55/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1403 - rmse: 0.3718
Epoch 56/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1392 - rmse: 0.3703
Epoch 57/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1384 - rmse: 0.3693
Epoch 58/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1376 - rmse: 0.3683
Epoch 59/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1362 - rmse: 0.3663
Epoch 60/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1351 - rmse: 0.3649
Epoch 61/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1345 - rmse: 0.3640
Epoch 62/100
19598/19598 [==============================] - 188s 10ms/step - loss: 0.1328 - rmse: 0.3617
Epoch 63/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1323 - rmse: 0.3610
Epoch 64/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1312 - rmse: 0.3595
Epoch 65/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1301 - rmse: 0.3581
Epoch 66/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1287 - rmse: 0.3561
Epoch 67/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1279 - rmse: 0.3550
Epoch 68/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1266 - rmse: 0.3531
Epoch 69/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1264 - rmse: 0.3528
Epoch 70/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1260 - rmse: 0.3522
Epoch 71/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1245 - rmse: 0.3503
Epoch 72/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1238 - rmse: 0.3492
Epoch 73/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1230 - rmse: 0.3480
Epoch 74/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1220 - rmse: 0.3466
Epoch 75/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1216 - rmse: 0.3459
Epoch 76/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1208 - rmse: 0.3449
Epoch 77/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1197 - rmse: 0.3432
Epoch 78/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1195 - rmse: 0.3430
Epoch 79/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1191 - rmse: 0.3424
Epoch 80/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1182 - rmse: 0.3412
Epoch 81/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1166 - rmse: 0.3389
Epoch 82/100
19598/19598 [==============================] - 194s 10ms/step - loss: 0.1165 - rmse: 0.3386
Epoch 83/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.1151 - rmse: 0.3366
Epoch 84/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1149 - rmse: 0.3364
Epoch 85/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1148 - rmse: 0.3361
Epoch 86/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1133 - rmse: 0.3339
Epoch 87/100
19598/19598 [==============================] - 189s 10ms/step - loss: 0.1131 - rmse: 0.3337
Epoch 88/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1132 - rmse: 0.3338
Epoch 89/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1116 - rmse: 0.3314
Epoch 90/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1116 - rmse: 0.3314
Epoch 91/100
19598/19598 [==============================] - 190s 10ms/step - loss: 0.1106 - rmse: 0.3299
Epoch 92/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.1099 - rmse: 0.3289
Epoch 93/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.1094 - rmse: 0.3282
Epoch 94/100
19598/19598 [==============================] - 192s 10ms/step - loss: 0.1086 - rmse: 0.3270
Epoch 95/100
19598/19598 [==============================] - 192s 10ms/step - loss: 0.1083 - rmse: 0.3265
Epoch 96/100
19598/19598 [==============================] - 192s 10ms/step - loss: 0.1078 - rmse: 0.3258
Epoch 97/100
19598/19598 [==============================] - 191s 10ms/step - loss: 0.1070 - rmse: 0.3245
Epoch 98/100
19598/19598 [==============================] - 192s 10ms/step - loss: 0.1065 - rmse: 0.3238
Epoch 99/100
19598/19598 [==============================] - 193s 10ms/step - loss: 0.1063 - rmse: 0.3234
Epoch 100/100
19598/19598 [==============================] - 195s 10ms/step - loss: 0.1054 - rmse: 0.3221